.fs-checkbox__list {
    display: flex;
}

.fs-checkbox__text {
    margin-right: 0.75rem;
    flex: auto 0 0;
}

/* The container */
.fs-checkbox__container {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.fs-checkbox__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.fs-checkmark {
    position: absolute;
    top: 5px;
    left: 8px;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: 1px solid #4a686d;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.fs-checkbox__container:hover input~.fs-checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.fs-checkbox__container input:checked~.fs-checkmark {
    background-color: var(--fs-pink-300);
}

/* Create the checkmark/indicator (hidden when not checked) */
.fs-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.fs-checkbox__container input:checked~.fs-checkmark:after {
    display: block;
}

.fs-checkbox__container input:checked~.fs-checkbox__text,
.fs-checkbox__container input:checked~.fs-checkbox__text {
    text-decoration: line-through;
    text-decoration-color: var(--fs-pink-500);
    color: #4a686d;
}

/* Style the checkmark/indicator */
.fs-checkbox__container .fs-checkmark:after {
    top: 2%;
    left: 30%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
