.fs-body-text {
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.5px;
}

/* 
 * Truncate text
 * requires inline-block or block
 */
.fs-truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
