---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import SmallCards from "../components/SmallCards.astro";
import SearchBar from "../components/SearchBar.vue";
---

<Layout title="Foodstalker">
  <main>
    <div class="flex flex-col m-4 md:flex-row md:m-8 content-center">
      <div class="grid place-content-center md:basis-2/4">
        <h1 class="text-2xl md:text-3xl font-mono font-medium text-center">
          F O O D S T A L K E R
        </h1>
        <p class="text-center max-w-xs">
          Vi stalker flinke kokker og deler våre favorittoppskrifter
        </p>
      </div>
      <div class="md:basis-2/4 mt-8">
        <img
          class="object-fill h-auto w-full"
          src="https://foodstalker.b-cdn.net/sitron2.jpg"
          alt=""
        />
      </div>
    </div>

    <SearchBar />
    <div class="relative flex py-5 items-center">
      <div class="flex-grow border-t border-black"></div>
      <span class="flex-shrink mx-4 text-black">Siste oppskrifter</span>
      <div class="flex-grow border-t border-black"></div>
    </div>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
    </div>
    <ul class="list-none grid grid-cols-1 gap-4 md:grid-cols-2">
      <!-- ... -->
      <li>
        <SmallCards />
      </li>
      <li>
        <SmallCards />
      </li>
      <li>
        <SmallCards />
      </li>
      <li>
        <SmallCards />
      </li>
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 1000px;
  }
</style>
