---
import Layout from "../layouts/Layout.astro";
import ImageGallery from "../components/ImageGallery.vue";

const images = [
  {
    orientation: "landscape",
    url: "https://foodstalker.b-cdn.net/2022/tacokrydder/IMG_6582.jpg",
    alt: "hvitløkspulver i morter",
  },
  {
    orientation: "portrait",
    url: "https://foodstalker.b-cdn.net/2022/tacokrydder/DSC02874.jpg",
    alt: "Krydder i bolle",
  },
  {
    orientation: "portrait",
    url: "https://foodstalker.b-cdn.net/2022/tacokrydder/DSC02856.jpg",
    alt: "Løk i tørkemaskin",
  },
  {
    orientation: "landscape",
    url: "https://foodstalker.b-cdn.net/2022/tacokrydder/IMG_6617.jpg",
    alt: "purreaske",
  },
  {
    orientation: "landscape",
    url: "https://foodstalker.b-cdn.net/2022/tacokrydder/DSC02896-2.jpg",
    alt: "tacokrydder på glass",
  },
  {
    orientation: "portrait",
    url: "https://foodstalker.b-cdn.net/2022/tacokrydder/DSC02891.jpg",
    alt: "",
  },
];
---

<Layout title="Oppskrift">
  <main class="flex-grow w-full">
    <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-4">
      <div class="recipe__main-content col-span-1 md:col-span-3 lg:col-span-3">
        <h1>Tittel</h1>
        <p>TEsteer</p>
      </div>
      <div class="recipe__side-content md:col-span-1 lg:col-span-1">
        Ingredienser
      </div>
    </div>
    <ImageGallery images={images} />
  </main>
</Layout>
<style lang="scss" scoped>
  .recipe {
    &__main-content {
      background-color: pink;
    }

    &__side-content {
      background-color: blue;
    }
  }
  main {
    margin: auto;
    padding: 1em;
    max-width: 1000px;
  }
</style>
