---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <h1 class="fs-title">Hello World</h1>
  <h1 class="fs-title1">Hello World</h1>
  <div class="fs-title2">"Hello World"</div>
  <div class="fs-title3">"Hello World"</div>
  <div class="fs-title4">"Hello World"</div>
  <div class="fs-title5">"Hello World"</div>
  <div class="fs-subtitle11">"Hello World"</div>
  <div class="fs-subtitle22">"Hello World"</div>
  <div class="fs-body11">"Hello World"</div>
  <div class="fs-body33">"Hello World"</div>
  <div class="fs-caption1">"Hello World"</div>
</Layout>

<style lang="scss">
  @use "sass:map";
  @use "../styles/mixins/" as *;

  .fs-title {
    @include get-text("fs-h1");
  }
  .fs-title1 {
    @include get-text("fs-h2");
  
  }
  .fs-title2 {
    @include get-text("fs-h3");
  }
  .fs-title3 {
    @include get-text("fs-h4");
  }
  .fs-title4 {
    @include get-text("fs-h5");
  }
  .fs-title5 {
    @include get-text("fs-h6");
  }
  .fs-subtitle11 {
    @include get-text("fs-subtitle1");
  }
  .fs-subtitle22 {
    @include get-text("fs-subtitle2");
  }
  .fs-body11 {
    @include get-text("fs-body1");
  }
  .fs-body33 {
    @include get-text("fs-body2");
  }
  .fs-caption1 {
    @include get-text("fs-caption");
  }
</style>
