$colors: (
    // grays
    color-transparent: transparent,
    color-white: #fff,
    color-black: #1f1209,
    color-gray-100: #f3f4f6,
    color-gray-200: #e5e7eb,
    color-gray-300: #cbd5e1,
    color-gray-400: #9ca3af,
    color-gray-500: #6b7280,

    // Brand colors
    color-vanilla: #FDF8E8,
    // greens
    color-green-100: #BED5AE,
    color-green-200: #D1E1C8,

    // pinks
    color-pink-100: #FBD3C4,
    color-pink-200: #cfaebf,
    color-pink-300: #CE8884,

 ) !default;
