$colors: (
    // grays
    fs-transparent: transparent,
    fs-white: #fff,
    fs-black: #1f1209,
    fs-gray-100: #f3f4f6,
    fs-gray-200: #e5e7eb,
    fs-gray-300: #cbd5e1,
    fs-gray-400: #9ca3af,
    fs-gray-500: #6b7280,
    // Brand colors
    fs-vanilla: #FDF8E8,

    fs-green-100: #BED5AE,
    fs-green-200: #D1E1C8,

    fs-pink-100: #FBD3C4,
    fs-pink-200: #cfaebf,
    fs-pink-300: #CE8884,

    ) !default;
