$colors: (
  // grays
  fs-transparent: transparent,
  fs-white: #fff,
  fs-black: #1f1209,
  fs-gray-100: #f3f4f6,
  fs-gray-200: #e5e7eb,
  fs-gray-300: #cbd5e1,
  fs-gray-400: #9ca3af,
  fs-gray-500: #6b7280,
  fs-gray-600: #4b5563,
  fs-gray-700: #374151,
  fs-gray-800: #1f2937,
  fs-gray-900: #111827,
  // Brand colors
  fs-vanilla: #fdf8e8,
  fs-lime: #bed5ae,
  fs-lime-light: #d1e1c8,

  fs-brokkoli: #40595a,

  fs-berries-50: #fef7f4,
  fs-berries-100: #fbd3c4,
  fs-berries-200: #cfaebf,
  fs-berries-300: #ce8884,
  fs-berries-400: #c06c7e,
  fs-berries-500: #b04c6a,
  fs-berries-600: #9e3d5a
) !default;
