---
export interface Props {
  longdescription?: string;
  description?: string;
}

const { description, longdescription } = Astro.props;

// funksjon i stedenfor med set:html={rawHTMLString}
---

<div>
  <p set:html={description} />

  <p set:html={longdescription} />
</div>
