---
export interface Props {
  longdescription?: string;
  description?: string;
}
const { description, longdescription } = Astro.props;
---

<div class="">
  <p>{description}</p>
  <p>{longdescription}</p>
</div>
