---
import Divider from "./Divider.astro";

export interface Props {
  longDescription?: string;
  description?: string;
  time?: string;
  portions?: number;
}

const { description, longDescription, time, portions } = Astro.props;
const paragraphs = longDescription?.split(/\r?\n\r?\n/).filter(Boolean) ?? [];
---

<div class="fs-description">
  <div class="fs-description__emojis">
    <span>👯 {portions} posjoner</span>
    <span>⏳ {time}</span>
  </div>
  <Divider grey />

  {description && <p class="fs-description__ingress" set:html={description} />}

  <div class="fs-description__text">
    {paragraphs.map((para) => <p>{para.trim()}</p>)}
  </div>
</div>

<style lang="scss" scoped>
  @use "../styles/mixins/" as *;

  .fs-description {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    &__ingress {
      @include get-text("fs-oppskrift-ingress");
      margin-bottom: 1rem;
    }
    &__text p {
      margin-bottom: 1rem;
    }
    &__emojis {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      color: var(--fs-gray-500);

      @include bp("tablet-up") {
        flex-direction: row;
      }
    }
  }
</style>
