---
export interface Props {
  longdescription?: longDescription;
  description?: string;
}

export interface longDescription {
  text?: string;
  href?: string;
}

const { description, longdescription } = Astro.props;

// funksjon i stedenfor med set:html={rawHTMLString}
---

<div>
  <p>{description}</p>
  {longdescription && longdescription.text ? (
    <p>
      {longdescription.text.replace(
        /link:([\w\s]+)/,
        `<a href="${longdescription.href}">$1</a>`
      )}
    </p>
  ) : null}
</div>
