---
export interface Props {
  text?: string;
  grey?: boolean;
}

const { text, grey } = Astro.props as Props;
const greyModifier = "fs-divider-line--grey";
---

<div class="fs-divider-container">
  <div class:list={["fs-divider-line", grey && greyModifier]}></div>
  {
    text && (
      <>
        <span class="fs-divider-text">{text}</span>
        <div class:list={["fs-divider-line", grey && greyModifier]} />
      </>
    )
  }

  <style>
    /* Custom CSS classes for the fs-divider */
    .fs-divider-container {
      position: relative;
      display: flex;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      align-items: center;
    }

    .fs-divider-line {
      flex-grow: 1;
      border-top: 1px solid var(--fs-black);
    }
    .fs-divider-line--grey {
      border-top: 1px solid var(--fs-gray-400);
    }

    .fs-divider-text {
      flex-shrink: 1;
      margin-left: 1rem;
      margin-right: 1rem;
      color: #000;
    }
  </style>
</div>
