---
import { Picture } from "@astrojs/image/components";
---

<div class="fs-banner fade-in">
  <div class="fs-banner__text">
    <h1 class="bannerTitle">F O O D S T A L K E R</h1>
    <p>Vi stalker flinke kokker og deler våre favorittoppskrifter</p>
  </div>
  <div class="fs-banner__image">
    <Picture
      src="https://foodstalker.b-cdn.net/sitron2.jpg"
      alt=""
      widths={[200, 400, 800]}
      aspectRatio="16:10"
      sizes="(max-width: 800px) 100vw, 800px"
      format="webp"
      background={"#0000"}
    />
  </div>
</div>
<style lang="scss" scoped>
  @use "sass:map";
  @use "../styles/variables/" as *;
  @use "../styles/mixins/breakpoints" as *;

  .fs-banner {
    display: flex;
    flex-direction: column;
    place-content: center;

    @include bp("tablet-up") {
      flex-direction: row;
      margin: 2rem;
    }
    &__text {
      display: grid;
      place-content: center;
      text-align: center;
      @include bp("tablet-up") {
        flex-basis: 50%;
      }
      & h1 {
        font-size: 1.5rem;
        line-height: 2rem;
        @include bp("tablet-up") {
          ont-size: 1.875rem;
          line-height: 2.25rem;
        }
      }
      & p {
        max-width: 20rem;
      }
    }
    &__image {
      margin-top: 2rem;
      flex-basis: 50%;
    }
  }
</style>
