---
import { Image } from "astro:assets";
import sitron from "../assets/sitron2.jpg";
---

<div class="fs-banner fade-in">
  <div class="fs-banner__text">
    <h1 class="bannerTitle">
      F O O D S T <a href="/17mai" class="fs-banner__christmastreeLink">🇳🇴</a> L
      K E R
    </h1>
    <p>Vi stalker flinke kokker og deler våre favorittoppskrifter</p>
  </div>
  <div class="fs-banner__image">
    <Image
      src={sitron}
      aria-hidden="true"
      alt="forsidebilde"
      width={800}
      height={300}
      quality={100}
      decoding="async"
    />
  </div>
</div>
<style lang="scss" scoped>
  @use "sass:map";
  @use "../styles/variables/" as *;
  @use "../styles/mixins/breakpoints" as *;
  @use "../styles/mixins/" as *;

  .fs-banner {
    display: flex;
    flex-direction: column;
    place-content: center;

    @include bp("tablet-up") {
      flex-direction: row;
      margin: 2rem;
    }
    &__text {
      display: grid;
      place-content: center;
      text-align: center;
      @include bp("tablet-up") {
        flex-basis: 50%;
      }
      & h1 {
        @include get-text("fs-h5");
        @include bp("tablet-up") {
          @include get-text("fs-h4");
        }
      }
      & p {
        max-width: 20rem;
      }
    }
    &__christmastreeLink {
      text-decoration: none !important;
      display: inline-block;
      color: var(--fs-black);
      animation: sway 1s ease-in-out infinite;
    }
    @keyframes sway {
      0% {
        transform: rotate(0deg);
      }
      20% {
        transform: rotate(5deg);
      }
      50% {
        transform: rotate(0deg);
      }
      80% {
        transform: rotate(-5deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
    &__image {
      margin-top: 2rem;
      flex-basis: 50%;
    }
  }
</style>
