---
export interface Step {
  title: string;
  description: string;
}

export interface Props {
  steps: Step[];
}

// Assuming Astro.props is of type Props
const { steps } = Astro.props;

---

{steps.map((step) => (
  <div>
    {step.title &&
    <h3 class="text-xl">{step.title}</h3>
    }
    <p>{step.description}</p>
  </div>
))}

