---
import { ContentCollectionTypeMismatchError } from "astro/dist/core/errors/errors-data";
import Divider from "./Divider.astro";
import SmallCards from "./cards/SmallCards.vue";
const { recipes } = Astro.props;

const data = await fetch(
  `https://plausible.io/api/v1/stats/breakdown?site_id=foodstalker.no&period=30d&property=event:page&limit=6`,
  {
    method: "GET",
    headers: {
      Authorization: `Bearer ${import.meta.env.VITE_PLAUSIBLE_API_KEY}`,
    },
  }
);

const pages = await data.json();
const filteredPages = pages.results
  .filter((page) => page.page.startsWith("/oppskrift/"))
  .map((page) => ({
    id: page.page.slice("/oppskrift/".length, -1),
    visitors: page.visitors,
  }));

const sortedPages = filteredPages.sort((a, b) => b.visitors - a.visitors);
const topFivePages = sortedPages.slice(0, 5);
const recipeIds = topFivePages.map((page) => page.id);

const topFiveSorted = recipes
  .filter((recipe) => recipeIds.includes(recipe.id))
  .reverse();
---

{
  topFiveSorted ? (
    <ul>
      {topFiveSorted.map((page) => (
        <li>
          <SmallCards
            title={page.title}
            description={page.description}
            image={page.imageurl}
            href={"/oppskrift/" + page.id}
          />
        </li>
      ))}
    </ul>
  ) : (
    <p>Ingen topp 5 i dag</p>
  )
}
