---
import SmallCards from "./cards/SmallCards.vue";
import { getTopList } from '../api/api.js';


export const prerender = false

const apiKey = import.meta.env.VITE_PLAUSIBLE_API_KEY;
const { recipes } = Astro.props; // Recipes should be passed as props or fetched separately

// Use the getTopList function to fetch data
const sortedRecipes = await getTopList(apiKey, recipes);

// Handle 404 if no recipes found
if (sortedRecipes.length === 0) {
  Astro.response.status = 404;
  Astro.response.statusText = 'No recipes found';
}

---

{
  sortedRecipes.length > 0 ? (
    <ul>
      {sortedRecipes.map((page) => (
        <li>
          <SmallCards
            title={page.title}
            description={page.description}
            image={page.imageurl}
            href={"/oppskrift/" + page.id}
          />
        </li>
      ))}
    </ul>
  ) : (
    <p>Ingen topp 5 i dag</p>
  )
}
