---
import Divider from "./Divider.astro";

const { recipes } = Astro.props;

const data = await fetch(
  `https://plausible.io/api/v1/stats/breakdown?site_id=foodstalker.no&period=month&property=event:page&limit=6`,
  {
    method: "GET",
    headers: {
      Authorization: `Bearer ${import.meta.env.VITE_PLAUSIBLE_API_KEY}`,
    },
  }
);

const pages = await data.json();
console.log(pages);
const filteredPages = pages.results
  .filter((page) => page.page.startsWith("/oppskrift/"))
  .map((page) => ({
    id: page.page.slice("/oppskrift/".length, -1),
    visitors: page.visitors,
  }));
const sortedPages = filteredPages.sort((a, b) => b.visitors - a.visitors);
const topFivePages = sortedPages.slice(0, 5);
const recipeIds = topFivePages.map((page) => page.id);
console.log(recipeIds);
---

{
  recipeIds ? (
    <ul>
      {recipeIds.map((page) => (
        <li>{page.title}</li>
      ))}
    </ul>
  ) : (
    <p>Ingen topp 5 i dag</p>
  )
}
