---
import Navbar from "../components/Navbar.vue";
import Footer from "../components/Footer.vue";
import "../styles/main.scss";
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="html">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script
      defer
      data-domain="foodstalker.no"
      src="https://plausible.io/js/script.js"
    ></script>
    <title>{title}</title>
  </head>

  <body class="bg-vanilla text-black font-mono flex flex-col min-h-screen mt-20">
    <Navbar client:load />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
